@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;300;400;500;600;700&family=Roboto:wght@300;400;500;700;900&display=swap');
 
:root {
  --success-color: #00C08B;
  --near-blue: #00C1DE;
  --near-royal: #0072CE;
  --dark-color: #fff;
  --near-read: #FF585D;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0; 
}

body {
  font-family: 'Roboto Mono', monospace;
  font-family: 'Roboto', sans-serif;
  line-height: 1.6;
  color: #333;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #333;
}

h1,
h2 {
  font-weight: 300;;
  line-height: 1.2;
  margin: 10px 0;
}

p {
  margin: 10px 0;
}

img {
  width: 100%;
  height: 100%;
}

/* Navbar */
.navbar {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  background-color: white;
  height: 90px;
  border-bottom: 1px solid #333;
}

.navbar .logo {
  text-transform: uppercase;
  font-size: 3vw;
}

.navbar ul {
  display: flex;
}

.navbar nav a {
  color: #333;
  padding: 10px;
  margin: 0 5px;
  font-family: "Roboto Mono";
  font-weight: 500;
}

.navbar a:hover {
  color: var(--success-color);
}

.navbar .flex {
 justify-content: space-between; 
}

.navbar .container {
  max-width: 2000px;
}

/* Events */
.events-list .container{
  width: 50%;
  max-width: 90%;
}

.event {
  min-height: 160px;
}

.event-img {
  grid-column: 1 / span 2;
  border: 1px solid #333;
  height: 100%;
}

.event-info {
  grid-column: 3 / span 3;
}

.event h1 {
  font-weight: 500;
  font-size: 18px;
}

.event p {
  font-family: "Roboto Mono";
  font-size: 12px;
  margin: 5px 0;
}

/* Submit Event */
.event-form .collection {
  justify-content: flex-start;
}

.event-form .form-control {
  margin: 30px 0;
}

.event-form input {
  border: 0;
  border: 1px solid #333;
  padding: 10px;
  margin: 0 2rem;
}

/* Footer */
.footer {
  margin-top: 3rem;
  background-color: #333;
  bottom: 0;
}

.footer .btn {
  background-color: #333;
  border: 1px solid #fff;
}

.footer .btn a {
  color: #fff;
}

.footer .card {
  background-color: #333;
  border: none;
}

.subscription-form input[type="email"] {
  border: 1px solid #fff;
  width: 100%;
  padding: 0.5rem 1rem;
  background-color: #333;
  color: #fff;
}

.fa-twitter {
  color: white;
  padding-top: 2rem;
}

/* Coming soon */
.coming-soon .btn {
  margin-top: 4rem;
}


/* Tablets and under */
@media (max-width: 768px) {
  
  /* Events list */
  .events-list .container{
    width: 100%;
  }
  
}

/* Mobile */
@media (max-width: 500px) {
  /* Navbar */
  .navbar {
    height: 110px;
  }

  .navbar .logo {
    font-size: 5vw;
  }

  .navbar .flex {
    flex-direction: column;
  }

  .navbar ul {
    padding: 10px;
  }

  /* Event List */

  .events-list .container{
    padding: 0;
    width: 100%;
  }
  
  .event {
    min-height: 160px;
  }

  .event h1 {
    font-weight: 500;
    font-size: 4vw;
  }
  
  .event p {
    font-family: "Roboto Mono";
    font-size: 3vw;
    margin: 3px 0;
  }

  /* Submit Event */
  .form-control {
    display: flex;
    flex-direction: column;
  }

  .event-form input {
    margin: 5px;
  }
}