@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  --green: #00C08B;
  --blue: #00C1DE;
  --royal: #0072CE;
  --near-red: #FF585D;
  --black: #24282B;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0; 
}

body {
  font-family: 'Inter', sans-serif;
  line-height: 1.6;
  color: var(--black);
  height: 100%;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--black);
}

h1,
h2 {
  font-weight: 300;;
  line-height: 1.2;
  margin: 10px 0;
}

p {
  margin: 10px 0;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

fieldset {
  border: 0;
}

/* app */
.App {
  display: flex;
  flex-flow: column;
  height: 100%;
}
.app-content {
  flex: 1 1 auto;
}


/* Coming soon */
.coming-soon {
  padding: 10vh 0;
}

.coming-soon .submit-btn {
  margin-top: 2rem;
  border: 1px solid var(--black);
}
.coming-soon .submit-btn:hover a{
  margin-top: 4rem;
  color: #00C08B;
}


/* Tablets and under */
@media (max-width: 768px) {
  
  /* Footer */
  .footer .grid{
    grid-template-columns: 1fr;
  }

  .footer .info {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .footer .icon .fa-2x{
    font-size: 2em;
    padding: 0;
  }
  
}

/* Mobile */
@media (max-width: 500px) {

  /* Submit Event */
  .form-control {
    display: flex;
    flex-direction: column;
  }

  .event-form input {
    margin: 5px;
  }
  /* Footer */
  .footer-grid {
    grid-template-columns: 1fr;
  }

  .actions.flex{
    flex-direction: column;
    align-items: flex-start;
  }

  .footer .actions button {
    margin: 8px 0;
  }
  
  .fa-twitter {
    margin-top: 10px;
  }

  /* Coming soon */
  .coming-soon {
    padding: 2.5vh 0;
  }
}
