@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;300;400;500;600;700&family=Roboto:wght@300;400;500;700;900&display=swap');
 
:root {
  --success-color: #00C08B;
  --near-blue: #00C1DE;
  --near-royal: #0072CE;
  --dark-color: #fff;
  --near-read: #FF585D;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0; 
}

body {
  font-family: 'Roboto Mono', monospace;
  font-family: 'Roboto', sans-serif;
  line-height: 1.6;
  color: #333;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #333;
}

h1,
h2 {
  font-weight: 300;;
  line-height: 1.2;
  margin: 10px 0;
}

p {
  margin: 10px 0;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

fieldset {
  border: 0;
}

/* Navbar */
.navbar {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  background-color: white;
  height: 90px;
  border-bottom: 1px solid #333;
}

.navbar .logo {
  text-transform: uppercase;
  font-size: 3vw;
}

.navbar ul {
  display: flex;
}

.navbar nav a {
  color: #333;
  padding: 10px;
  margin: 0 5px;
  font-family: "Roboto Mono";
  font-weight: 500;
}

.navbar a:hover {
  color: var(--success-color);
}

.navbar .flex {
 justify-content: space-between; 
}

.navbar .container {
  max-width: 2000px;
}

/* Events */
.events-list .container{
  width: 600px;
}

.event {
  min-height: 160px;
}

.event.grid.card:hover {
  border: 2px solid var(--success-color);
  
}

.event-img {
  grid-column: 1 / span 2;
  border: 1px solid #333;
  height: 100%;
}

.event-info {
  grid-column: 3 / span 3;
}

.event-info .flex {
  justify-content: space-between;
}

.event h1 {
  font-weight: 500;
  font-size: 18px;
}

.event p {
  font-family: "Roboto Mono";
  font-size: 12px;
  margin: 5px 0;
}

/* Submit Event */
.event-form .collection {
  justify-content: flex-start;
}

.event-form .form-control {
  margin: 30px 0;
}
 
.event-form input {
  border: 0;
  border: 1px solid #333;
  padding: 10px;
  margin: 0 2rem;
}

/* Footer */
.footer {
  margin-top: 3rem;
  background-color: #333;
  bottom: 0;
}

.footer .btn {
  background-color: #333;
  border: 1px solid #fff;
}

.footer .btn a {
  color: #fff;
}

.footer .card {
  background-color: #333;
  border: none;
}

.fa-twitter {
  color: white;
  padding-top: 2rem;
}
/* subscribe */

.subscription-form input[type="email"] {
  border: 1px solid #fff;
  width: 100%;
  padding: 0.5rem 1rem;
  background-color: #333;
  color: #fff;
}

.subscription-form .flex {
  justify-content: flex-start;
}

.subscription-form .btn {
  padding: 6px;
}

.fa-arrow-right {
  color: white;
}

/* Coming soon */
.coming-soon .btn {
  margin-top: 4rem;
}


/* Tablets and under */
@media (max-width: 768px) {
  
  /* Events list */
  .events-list .container{
    width: 100%;
  }

    /* Footer */
    .footer .grid{
      grid-template-columns: 1fr;
    }

    .footer .info {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .footer .icon .fa-2x{
      font-size: 2em;
      padding: 0;
    }
  
}

/* Mobile */
@media (max-width: 500px) {
  /* Navbar */
  .navbar .logo {
    font-size: 5vw;
  }

  .navbar .flex {
    flex-direction: column;
    justify-content: center;
  }

  .navbar ul {
    padding: 5px;
  }

  .navbar nav a {
    font-size: 3vw;
  }
  /* Event List */

  .events-list .container{
    padding: 0;
    width: 80%;
  }

  .events-list .card {
    padding: 15px;
  }

  .events-list .title {
    font-size: 5vw;
    margin-top: 2rem;
  }
  
  .event {
    min-height: 0;
  }

  .event h1 {
    font-weight: 500;
    font-size: 3vw;
  }
  
  .event p {
    font-family: "Roboto Mono";
    font-size: 2vw;
    margin: 2px 0;
  }

  /* Submit Event */
  .form-control {
    display: flex;
    flex-direction: column;
  }

  .event-form input {
    margin: 5px;
  }
  /* Footer */
  .footer .grid{
    grid-template-columns: 1fr;
  }
  
  .footer .info {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .footer .icon .fa-2x{
    font-size: 1.5em;
    padding: 0;
  }
  
  .footer .md {
    font-size: 1rem;
  }
  .footer p {
    font-size: 0.5rem;
  }
}
