/* Footer */
.footer {
    /* position: absolute;
    width: 100%;
    bottom: 0; stick to bottom */
    flex: 0 1 50px;
    background-color: var(--black);
    padding: 2rem 0;
  }
  
  .footer-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  
  .footer .logo {
    height: 35px;
    width: auto;
  }
  
  .footer .copyright {
    color: #FFFFFF;
    opacity: 0.5;
    font-size: 10px;
    margin: 0;
  }
  
  .footer .flex {
    justify-content: flex-end;
  }
  
  .subscribe-btn {
    background-color: var(--black);
    border: 1px solid #fff;
    margin: 0 8px;
    padding: 0.4rem 1.2rem;
    font-weight: 600;
    font-family: inter;
    transition: all 0.3s ease 0s;
  }
  .subscribe-btn:hover {
    /* border-color: var(--green); */
    /* box-shadow: 0px 5px 15px rgba(46, 229, 157, 0.4); */
    transform: translateY(-3px);
  }
  .subscribe-btn a {
    color: #fff;
  }
  
  .footer .actions button a {
    font-size: 12px;
  }
  
  
  .fa-twitter {
    color: white;
    margin-right: 5px;
  }
  

@media (max-width: 768px) {
  
}

@media (max-width: 500px) {
  .footer-grid {
    grid-template-columns: none;
  }

  .footer-grid .info {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-bottom: 1.4rem;
  }

  .footer-grid .actions button {
    width: 100%;
  }
}