/* Submit Event */
.form-container {
    max-width: 570px;
    margin: 0 auto;
    overflow: auto;
    padding: 4rem 0;
}

.form-container .title {
  margin: 1rem 0;
}

.form-container .form-control {
  display: flex;
  flex-direction: column;
  padding: 20px 0;
}

.form-container .label {
  font-size: 1.2em;
  font-weight: bold;
}
  
.form-container .form-control input {
  border: 2px solid rgba(36, 40, 43, 0.2);
  padding: 13px;
  margin-top: 20px;
  width: 100%;
}

.form-container .final-row {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  align-items: center;
}

/* subscribe */
/* .subscription-form input[type="email"] {
border: 1px solid #fff;
width: 100%;
padding: 0.5rem 1rem;
color: #fff;
} */

/* Event form */
/* submit event form cities */
.event-form .collection .options {
  display: flex;
}

.event-form .collection .option {
  margin-right: 25px;
  display: flex;
  align-items: center;
}
.event-form .collection .option .radio{
  margin-right: 10px;
  width: 18px;
  height: 18px;
  margin-top: 0;
}


/* submit event final row */
#invite {
  flex-direction: row;
  align-items: center;
}

input#inviteOnly {
  margin-top: 0;
  width: 18px;
  height: 18px;
}
#invite .label {
  font-size: 14px;
  font-weight: 400;
  margin-left: 10px;
}


@media (max-width: 768px) {

}

@media (max-width: 500px) {
  .form-container {
    width: 80%;
    padding: 2rem 0;
  }

  .form-container .title {
    font-size: 24px;
  }

  .form-container .subtitle {
    font-size: 18px;
  }

  .form-container .form-control {
    padding: 15px 0;
  }

  .form-container .label {
    font-size: 16px;
  }

  .form-container .form-control input {
    padding: 10px;
    width: 100%;
    margin: 0;
    margin-top: 10px;
  }

  /* Event form */

  .form-container form {
    align-items: center;
  }
  .event-form .collection .option .radio {
    width: 14px;
    height: 14px;
  }
  .event-form .collection .option label {
    font-size: 16px;
  }

  input#inviteOnly {
    width: 14px;
    height: 14px;
  }
  #invite .label {
    font-size: 16px;
  }

  /* subscribe */
  .subscription-form .final-row {
    gap: 25px
  }
  .subscription-form .final-row .sm {
    font-size: 12px;
  }
}