.landing a {
    text-decoration: none;
    color: white;
}

/* Landing Header */
.landing-header {
    background-color: #24282B;
    padding-top: 1rem;
    padding-bottom: 5rem;
}

.landing-header .container {
    display: grid;
    grid-template-columns: 40% 60%;
    align-items: center;
    gap: 20px;
}

.landing-header .text .title {
    color: #ffffff;
    font-size: 3vw;
}
.landing-header #illustration {
    width: 100%;
}

/* Browse Events */
.browse-events {
    align-self: center;
    padding-top: 2rem;
    padding-bottom: 4rem;
}

.cities {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 35px;
    overflow: hidden;
}

/* City card */
.city-card {
    max-height: 350px;
    position: relative;
    color: white;
    transition: all 0.3s ease 0s;
    height: 100%;
    background-size: cover;
    background-position: center center;
}

.city-card:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(180deg, rgba(36, 40, 43, 0) 53.12%, #24282B 93.75%);
  }

.city-card:hover {
    transform: translateY(-7px);
}

.city-card .city-name{
    position: absolute;
    font-size: 1.5vw;
    font-weight: bold;
    bottom: 20px;
    left: 20px;
    z-index: 1;
}

/* Tablets and under */
@media (max-width: 768px) {
}

/* Mobile */
@media (max-width: 500px) {
    /* Landing Header */
    .landing-header {
        padding-top: 0;
        padding-bottom: 2rem;
    }

    .landing-header .container {
        gap: 0;
        padding: 0;
        width: 90%;
        display: flex;
        flex-direction: column-reverse;
    }

    .landing-header .text {
        text-align: center;
    }

    .landing-header .text .title {
        font-size: 24px;
        margin-top: 1.3rem;
        margin-bottom: 1.3rem;
    }

    .landing-header .text .g-btn {
        width: 100%;
    }

    /* Browse-Events */
    .browse-events {
        padding-top: 3rem;
        padding-bottom: 3rem;
    }
    .browse-events .section-title {
        font-size: 18px;
        margin: 0 0;
        padding-bottom: 1.5rem;
    }

    .browse-events .cities {
       grid-template-columns: 1fr;
       gap: 25px
    }

    .city-card .city-name {
        font-size: 14px;
    }

}