/* Navbar */
.navbar {
    flex: 0 1 auto;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    background-color: var(--black);
    height: 90px;
    z-index: 2;
  }
  
  .navbar .logo a:hover {
    border: none;
  }
  
  .navbar .logo a img {
    height: 35px;
    width: auto;
  }
  
  .navbar ul {
    display: flex;
  }
  
  .navbar nav a {
    color: #fff;
    padding: 10px;
    margin: 0 5px;
    font-weight: 500;
  }
  
  .navbar a:hover {
    color: var(--green);
    /* border-bottom: 3px solid var(--green); */
  }

  .navbar .submit-btn a {
    text-decoration: none;
  }
  
  .navbar .flex {
   justify-content: space-between; 
  }
  
  .navbar .container {
    max-width: 2000px;
  }
  

  /* Tablets and under */
@media (max-width: 768px) {
  /* Navbar */
  .navbar svg:hover {
    background-color: #24282B;
    border-radius:50%;
    box-shadow: 0 0 0 7px rgba(255,255,255,0.1);
  }

  .navbar nav {
    background-color: #24282B;
    position: fixed;
    z-index: 100;
    display: flex;
    flex-flow: column;
    height: 100%;
    width: 100%;
    top: 90px;
  }

  .navbar nav ul {
      display: flex;
      flex-direction: column;
      font-size: 18px;
      justify-content: space-evenly;      
      align-items: center;
  }

  .navbar nav li {
    padding-top: 3rem;
  }
  
  .navbar a:hover {
    color: var(--green);
    /* border-bottom: 3px solid var(--green); */
  }
} 

/* Mobile */
@media (max-width: 500px) {
  /* Navigation */
  .navbar .logo a img {
    height: 30px;
    width: auto;
  }

  .navbar nav ul {
    font-size: 18px;
  }

}