:root {
    --green: #00C08B;
    --blue: #00C1DE;
    --royal: #0072CE;
    --near-red: #FF585D;
    --black: #24282B;
    --orange: #FFB25A;
  }

/* Utilities */
html {
    scroll-behavior: smooth;
  }
  
.container {
    max-width: 1100px;
    margin: 0 auto;
    overflow: auto;
    padding: 0 40px;
}
  
.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.card {
    background-color: #fff;
    border: 2px solid rgba(36, 40, 43, 0.2);
    padding: 30px;
    margin: 10px;
}

.w-btn {
    border: 2px solid var(--black);
    padding: 0.5rem 1rem;
    background-color: #fff;
    font-weight: 600;
    transition: all 0.3s ease 0s;
}

.w-btn:hover {
  border: 2px solid #00C08B;
  color: #00C08B;
}

.b-btn {
    padding: 0.5rem 2rem;
    background-color: var(--black);
    font-weight: 500;
    color: white;
    border: none;
    transition: all 0.3s ease 0s;
    height: 40px;
}

.b-btn:hover {
    background-color: var(--green);
}

.g-btn {
    padding: 0.5rem 2rem;
    background-color: var(--green);
    font-weight: 500;
    color: white;
    border: none;
    transition: all 0.3s ease 0s;
    height: 40px;
}

.g-btn:hover {
    /* background-color: #2EE59D; */
    transform: translateY(-3px);
}


.submit-btn {
    border: 1px solid #fff;
    background-color: #fff;
    margin: 0 8px;
    padding: 0.4rem 1.2rem;
    font-weight: 600;
    font-family: inter;
    transition: all 0.3s ease 0s;
}
.submit-btn:hover {
    /* border-color: var(--green); */
    transform: translateY(-3px);
}
  

.title {
font-weight: bold;
font-size: 2em;
margin-top: 4rem;
margin-bottom: 2rem;
}

.section-title {
    font-weight: bold;
    font-size: 24px;
    margin: 2rem 0;
}

/* Margin */
.my-1 {
margin: 1rem 0;
}

.my-2 {
margin: 1.5rem 0;
}

.my-3 {
margin: 2rem 0;
}

.my-4 {
margin: 3rem 0;
}

.my-5 {
margin: 4rem 0;
}

.my-6 {
    margin: 6rem 0;
    }

.m-1 {
margin: 1rem;
}

.m-2 {
margin: 1.5rem;
}

.m-3 {
margin: 2rem;
}

.m-4 {
margin: 3rem;
}

.m-5 {
margin: 4rem;
}

/* Padding */
.py-1 {
padding: 1rem 0;
}

.py-2 {
padding: 1.5rem 0;
}

.py-3 {
padding: 2rem 0;
}

.py-4 {
padding: 3rem 0;
}

.py-5 {
padding: 4rem 0;
}

.p-1 {
padding: 1rem;
}

.p-2 {
padding: 1.5rem;
}

.p-3 {
padding: 2rem;
}

.p-4 {
padding: 3rem;
}

.p-5 {
padding: 4rem;
}

/* Color */
.d-txt {
    color: var(--black);
}

.l-txt{
    color: #fff;
}

.blue-txt {
    color: #00C1DE;
}

.red-txt {
    color: #FF585D;
}

.orange-txt {
    color: var(--orange);
}

.green-txt {
    color: var(--green);
}

.dark-background {
    background-color: var(--black);
}

.light-background {
    background-color: #fff;
}

/* Text sizes */
.sm {
    font-size: 14px;
  }
  
.md {
font-size: 2rem;
}

.lg {
font-size: 3rem;
}

.xl {
font-size: 4rem;
}

.text-center {
text-align: center;
}

.uppercase {
    text-transform: uppercase;
}

.italic {
    font-style: italic;
}

.bold {
    font-weight: bold;
}